[user]
	email = sean.tronsen@gmail.com
	name = Sean Tronsen
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = cat
[pull]
	rebase = false
[alias]
	diffc = diff --compact-summary
[credential]
	helper = cache --timeout=604800
